{% extends 'base.html.twig' %}

{% block title %}Hello CatalogController!{% endblock %}

{% block body %}

<div class="m-3 text-center">
<h1>Notre Catalogue</h1>
</div>



<div class="row m-4">
  <div class="col-2">
 <strong>Nos produits</strong>
  </div>

  <div class="col-10">
  Vel esse incidunt temporibus est quia. Asperiores qui ut atque iste consequatur expedita illum. Iste ut quis eligendi corrupti.
  </div>
</div>


<div class="row row-cols-1">
{% for produit in produits %}


<div class="card text-white bg-success m-3" style="max-width: 20rem;">
  <div class="card-header">{{ produit.price }}</div>
  <div class="card-body">
    <h4 class="card-title">{{ produit.title }}</h4>
    <p class="card-text">{{ produit.description }}</p>
  </div>
</div>

{% endfor %}
 </div>
{% endblock %}
